:root {
    --bg-color: #eff6ff;
    --form-bg: white;
    --menu-bg: white;
    --total-bg: #4f46e5;
    --text-color: #1f2937;
    --secondary-text-color: #4b5563;
    --heading-color: #312e81;
    --total-text-color: white;
    --border-color: #b5b4c5;
    --button-bg: black;
    --button-text: white;
    --input-bg: rgba(128, 128, 128, 0.116);
    --input-text: #1f2937;
    --budget-bg:#d9d8f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);   
    color: var(--text-color);
}

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 1200px;
    width:100%;
    padding: 20px;
    justify-content: center;
    align-items:center;
}

nav{
    display:flex;
    width:100%;
    height:100px;
}

.login-nav{
    display:flex;
    width:60%;
    height:100px;
}

.nav-header{
    width:50%;
}

nav h1{
    color: var(--heading-color);
    font-size:30px;
    font-weight: bold;
    margin:25px;
}

nav p{
    color: var(--secondary-text-color);
    margin-left:25px;
    margin-top:-20px;
}

ul{
    width:50%;
    display:flex;
    margin-top:30px;
    justify-content: end;
}

ul li{
    list-style-type: none;
    margin: 20px 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor:pointer;
    background-color:white;
}

.mode-icon{
    width:20px;
    height:20px;
}

.logout-icon{
    width:20px;
    height:20px;
}

ul li:first-child{
    width: 50px;
}

.list-icon{
    width:20px;
    height:20px;
}

a{
    text-decoration: none;
    color:black;
}

ul li:nth-child(2){
    width:150px;
    gap: 8px;
}

ul li:nth-child(3){
    width:60px;
}
ul li:nth-child(4){
    width:70px;
}
ul li:nth-child(5){
    width:50px;
}

.cards{
    width:100%;
    height:130px;
    display:flex;
    margin-top:30px ;
    justify-content: space-evenly;
}
.total{
    width:40%;
    height:130px;
    background-color: var(--total-bg);
    color: var(--total-text-color);
    border-radius: 15px;
    display:flex;
}
.budget{
    display:flex;
    flex-direction: column;
    margin-left:auto;
    width:40%;
    height:130px;
    background-color:var(--form-bg);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px dashed var(--total-bg);
}

.updated{
    display:flex;
    flex-direction: column;
    margin-left:auto;
    width:40%;
    height:130px;
    background-color:greenyellow;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px dashed var(--total-bg);
}

.total-text{
    width:70%;
    margin:30px;
}
.budget-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.budget-text:hover{
    background-color:var(--budget-bg);
    width:80%;
    height: 80%;
    border-radius: 15px;
    cursor:pointer;
}

.budget-text p{
    color:var(--total-bg);
    font-size:40px;
    font: bold;
}

.budget-text span{
    color:var(--secondary-text-color);
    font-size:20px;
}



.total-text span{
    font-size: 30px;
    font-weight: bold;
}

.purchase-icon{
    height:50px;
    width:50px;
}

.total-img{
    width:30%;
    display:flex;
    justify-content: end;
    margin: 30px;
}

.purchase-form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--form-bg);
    width:100%;
    margin-top:30px;
    height: fit-content;
    border:1px solid var(--border-color);
    border-radius: 15px;
}
.login-form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--form-bg);
    width:60%;
    margin-top:30px;
    height: fit-content;
    border:1px solid var(--border-color);
    border-radius: 15px;
    align-content: center;
}


.form-text{
    display:flex;
    width:90%;
    flex-direction: column;
    font-size:15px;
    margin:25px;
}

.form-text p{
    color:#4b5563;
    margin-top:10px;
    margin-bottom:25px;
}

.login-text{
    display:flex;
    width:90%;
    flex-direction: column;
    align-items: center;
    font-size:15px;
    margin:25px;
}

.login-text p{
    color:#4b5563;
    margin-top:10px;
    margin-bottom:25px;
}

.login-navigation{
    color: var(--input-text);
    text-align: center;
    margin-bottom: 10px;
}

.login-navigation a{
    color:#4f46e5;
    text-decoration: underline;
}

h3{
    color:#4f46e5;
    margin-top: 10px;
}

h2{
    color:#4f46e5;
}

.form-text p{
    color:#4b5563;
    margin-top:10px;
    margin-bottom:25px;
}

label{
    margin-left:25px;
    font-weight: bold;
    font-size:20px;
}

input{
    width:95%;
    height:40px;
    margin-left: 25px;
    margin-right: 10px;
    background-color: var(--input-bg);
    border-style:none;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--input-text);
}


.submit-button{
    background-color: var(--button-bg);
    color: var(--button-text);
    width:95%;
    height:40px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom:15px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    font-size: 15px;
}

.menu{
    display:flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--menu-bg);
    width:100%;
    margin-top:30px;
    height:auto;
    min-height: 200px;
    border:1px solid var(--border-color);
    border-radius: 15px;
}

.menu-text{
    display:flex;
    width:90%;
    flex-direction: column;
    font-size:15px;
    margin:25px;
}

.menu-text p{
    color:#4b5563;
    margin-top:10px;
}

.purchase-list{
    display:flex;
    width:90%;
    justify-content:start;
    justify-content:space-between;
    margin-left:20px;
    font-weight: bold;
    color:var(--text-color);
    background:none !important;
}

.purchase-items{
    display:flex;
    width:90%;
    justify-content:start;
    justify-content:space-between;
    margin-left:20px;
    color:var(--text-color);
    background:none !important;
}
.purchase-items li{
    background:none !important;
    width: 80px !important;
}
.purchase-list li {
    background:none !important;
}

.alternate-text{
    margin-left:25px;
}
.delete-icon{
    width: 30px;
    height: 30px;
}

.update-icon,.save-icon{
    width: 30px;
    height: 30px;
    background-color: white;
}


hr{
    width: 95%;
    margin-left:25px;
    height:1px;
}
.edit-date,.edit-name,.edit-amount{
    width: 150px;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.save-btn{
    background-color:var(--button-bg);
    color: var(--button-text);
    width: 50px;
    height: 25px;
    border-radius: 8px;
    cursor:pointer;
}

.set-budget{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.budget-form{
    position: relative;
    background-color: var(--form-bg);
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height:fit-content;
}

.budget-button{
    background-color: var(--button-bg);
    color: var(--button-text);
    width:40%;
    height:40px;
    margin-left: 40px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    font-size: 20px;
}

h4{
    text-align: center;
    font-size:25px;
    margin-bottom: 50px;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    background:none;
    border: none;
    color:var(--input-text);
    cursor: pointer;
}

.budget-card {
    width:40%;
    height:130px;
    background:	#16a34a;
    padding: 20px;
    border-radius: 12px;
    margin-left:auto;
}

.budget-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ddd
}


.budget-remaining {
    margin-bottom: 5px;
    color:#ddd
}

.budget-progress {
    color:#ddd

}

.progress-bar {
    width: 100%;
    height: 10px;
    background:#15803c;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.progress-fill {
    width: 0;
    height: 100%;
    background:var(--text-color);
    border-radius: 5px;
    transition: width 0.3s;
}

h5{
    color:#ddd
}

#edit-budget{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border:none;
    cursor:pointer;
    color:var(--text-color);
    background: var(--bg-color);

}

body.dark-mode {
    --bg-color: #121212;
    --container-bg: #1e1e1e;
    --form-bg: #1e1e1e;
    --menu-bg: #1e1e1e;
    --total-bg: #4f46e5;
    --text-color: #eee;
    --secondary-text-color: #ccc;
    --heading-color: #4f46e5;
    --total-text-color: white;
    --border-color: #333;
    --button-bg: #4f46e5;
    --button-text: white;
    --input-bg: rgba(255, 255, 255, 0.1);
    --input-text: #eee;
    --budget-bg:#908d8df0;
}

